
.container{
    display: flex;
    justify-content: space-between;
    border: 2px  seashell #f0f0f0;
    border-radius: 10px;
}

.logo{
    width: 90px;

}



.navbar-item{
    margin: 10px;
    padding: 0px 10px;
}

 .navbar-item > .item {
 
    font-size: 18px;
    display: flex;
    
    margin-right: 30px;
    list-style-type: none;

}


.navbar-item >ul>li{

    
     padding: 0px 13px;
    margin: 0px 13px;
    
    
}
.header-link{
    padding-right: 40px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
}


.next-line{
    margin-left: 70px;
    margin-right: 70px;
}
.banner-container{
    margin-top: 20px;
    
    margin-left: 80px;
    
}

.food-banner{
    display: flex;
    flex-wrap: wrap;
    
}
.banner-img:hover{
    transform: scale(95%,95%);
}
.banner-img{
    width: 150px;
    margin-bottom: 30px;
    
}

.chain-main{
    margin: 30px;
    margin-left: 80px;
}
.res-chain-container{
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
    
}
.food-chain{
    
    width: 200px;
    height: 60%;
    margin: 10px;
    justify-content: baseline;
    font-size: 12px;
    
}
.food-chain :hover{
    transform: scale(95%,95%);
}
.food-chain-img{
    height:150px ;
    width: 200px;
    border-radius: 10px;
}
.chain-text-rat{
  padding-left: 5px;
}
.span-text{
    margin-left: 10px;
    
    font-weight: 600;
    
}

.res-chain-link{
    text-decoration: none;
    color: black;
}

.search-bar{
 display: flex;
 margin-left: 70px;
 padding: 15px;

}

.search-container{
    margin-right: 20px;
}
.resturant-container{
    display: flex;
     flex-wrap: wrap;
     
     margin-left: 70px;
    
    
    font-size: 10px;





}
.img-card-1{
    width:200px;
    height: 150px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.res-card-1{
    
    

    font-family: Georgia, 'Times New Roman', Times, serif;
    
    font-size: 7px;
     
      margin: 5px;
    height: 70%;
    width: 200px;
    line-height: 10px;
    
    
    
}

.res-card-1 :hover{
    cursor: pointer;
    
    transform: scale(95%,95%);
    
}

.resturant-card-link{
    text-decoration: none;
    color: black;
}

.search-bar:hover{
    
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    
}
.shimmer-card{
    width: 175px;
    height: 200px;
    
    margin: 5px;
    background-color: grey;
}


.restaraunt-menu{
    margin:80px 80px;
    
}

.menu-header-container{
    width: 900px;
    border: 18px solid gainsboro;
    border-radius: 25px;
    padding-left: 10px;

}
.menu-header-container:hover{
    box-shadow: 5px 5px 50px red;
}

.offer-main-container{
    display: flex;
    padding-right: 10px;
    
    
}
.offer-container{
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 23px;
    margin: 10px;
    
    line-height: 1px;
    
}
.offer-menu{
    
    display: flex;
    padding-right: 10px;
    
    justify-content: center;
    
}





.offer-logo{
    
    width: 40px;
    
    
    
}

.offer-info{
    
    padding-left: 20px;
}